version: 2

updates:
  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: ⬆
  # Python - UV
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ⬆
  # NPM
  - package-ecosystem: "npm"
    directory: "/dashboard"
    schedule:
      interval: "daily"
    commit-message:
      prefix: ⬆
